* {
body {;
  margin: 0;
  font-family: arial;
}
/* Style the header */
.header {
    background-color: #1e90ff;
    padding: 10px;
    text-align: center;
    color: white;
}
/*Column*/
.column {
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
